<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/formular-rezultat">
        <label for="">
            <span>ime</span>
            <input type="text" name="ime" id="" placeholder="Katerina" required>
        </label>

        <label for="">
            <span>prezime</span>
            <input type="text" name="prezime" id="" placeholder="Atanasovska" required>
        </label>
        <hr>
        <button type="submit">Isprati</button>
    </form>
</body>
</html>