<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--vcituvanje na header.ejs-->
    <%- include("header"); %>

    <!--vcituvanje na promenlivata ime-->
    <h1>Zdravooooo <%= ime; %></h1>

    <!--koga se dava naredba ne se stava nitu - nitu = -->
    <ul>
        <% if(studenti.length > 10) { %>
            <% studenti.forEach( s => { %>
                <li>
                    <%= s.first_name %>
                    <%= s.last_name %>
                </li>
            <% }); %>
        <% } else { %>
            <p>nema dovolno studenti</p>
        <% }; %>


    </ul>
</body>
</html>